/**
 * Variables
 */

global-fonts = monospace, sans-serif
global-font-size = 14px
global-margin = 5px
global-radius = 4px

color = {
	text: black
	primary: #906CC1,
	error: #FF0000,
	success: #00FF08,
	border: #E2E0E0,
	shadow: #D3D3D3
}